ul li {
	list-style: none;
	float: left;
	border: 1px solid gray;
	padding: 0px 5px;
	cursor: pointer;
	background-color: #EEEEEE;
	border-radius: 5px;
}

input {
	width: 150px;
}

.number {
	color: blue;
}
font {
	font-size: 16px;
	line-height: 45px;
}